<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./cus.css">
</head>
<body>
    
    <div class="main">
        <h1>Customer Management System</h1>
        <div class="input-element">
            <label for="txtID">ID:</label>
            <input type="text" id="txtID">
        
            <label for="txtName">Name:</label>
            <input type="text" id="txtName">
        
            <label for="txtAddress">Address:</label>
            <textarea name="" id="txtAddress" cols="30" rows="10"></textarea>
        
            <label for="txtMobileNo">Mobile No:</label>
            <input type="text" id="txtMobileNo">
        </div>

        <div class="input-btn">
            <input type="button" value="Add">
            <input type="button" value="Search">
            <input type="button" value="Modify">
            <input type="button" value="Delete">
            
        </div>
        <div class="input-btn" >
            <input type="button" value="First">
            <input type="button" value="Previous">
            <input type="button" value="Next">
            <input type="button" value="Last">
        </div>

        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Mobile No</th>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Tarun</td>
                    <td>Rampur</td>
                    <td>8057873822</td>
                </tr>
            </table>
        </div>
        
    </div>
</body>
</html>